#footer {
    height: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
    background-color: var(--black-50);
    backdrop-filter: blur(1rem);
    color: var(--accent-color);
    position: fixed;
    bottom: 0;
}

#footer > p {
    padding: 0 1rem;
    line-height: 1.2rem;
    font-size: 1rem;
}