.create-reservation {
    font-size: 1rem;
    height: 1rem;
    width: 1rem;
}

.add-reservation-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    color: white;
    border-radius: .5rem;
}

.react-calendar__tile:hover .add-reservation-btn {
    color: var(--neutral-color);
}

.add-reservation-btn > span {
    padding: .25rem;
    font-family: 'Ubuntu Mono', monospace;
    font-size: .8rem;
}

.add-reservation-btn:hover {
    color: #598221 !important;
}

#calendar-wrapper {
    width: 100%;
    height: calc(100vh - 21rem);
    padding: 2rem 0;
    top: 15rem;
    display: grid;
    overflow: scroll;
}

.calendar-item {
    width: 100%;
}

.react-calendar {
    width: 75%;
    height: max-content;
    background-color: var(--neutral-color);
    border-color: var(--background-color);
    margin: auto;
}

.react-calendar__navigation {
    margin-bottom: 0;
}

.react-calendar__navigation > button:hover {
    color: var(--neutral-color);
}

.react-calendar__month-view__weekdays__weekday,
.react-calendar__navigation > button {
    color: white;
    background-color: var(--background-color);
    font-family: 'Ubuntu Mono', monospace;
    font-size: 1rem;
    font-weight: bold;
}

.react-calendar__month-view__days__day {
    color: white;
}

.react-calendar__month-view__days__day--neighboringMonth {
    color: var(--background-color);
    font-size: 1rem;
}

.react-calendar__tile > abbr {
    font-size: 1rem;
    font-weight: bold;
    padding-bottom: 1rem;
    font-family: 'Ubuntu Mono', monospace;
}

.react-calendar__tile {
    height: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: solid 1px var(--background-color) !important;
    border-collapse: collapse;
}

.react-calendar__tile--now {
    background-color: var(--error-color);
}

.react-calendar__tile--active:not(.react-calendar__tile--now) {
    background-color: var(--neutral-color);
    color: white;
}

.react-calendar__tile--active:hover,
.react-calendar__month-view__days__day:hover,
.react-calendar__tile--now:hover {
    background-color: whitesmoke !important;
    color: var(--neutral-color);
}