.content-wrapper {
    padding: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: scroll;
    height: fit-content;
    width: 80%;
    margin-bottom: 2rem;
}

.content-wrapper p {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 2rem;
}