.reservations-table-wrapper {
    display: block;
    height: 80vh;
}

.reservations-table-date-filters-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1rem;
}

.reservations-table-date-filters-wrapper > div > label {
    padding-left: .5rem;
    font-family: 'Ubuntu Mono', monospace;
}

.reservations-table-date-filters-wrapper > div > input,
.reservations-table-name-filters-wrapper > div > input {
    accent-color: var(--accent-color);
}

.reservations-table-name-filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.reservations-table {
    font-family: 'Ubuntu Mono', monospace;
    background: #282c3425;
    backdrop-filter: blur(1rem);
    padding: 2rem;
    border-radius: 1rem;
}

.reservations-table > tbody {
    max-height: 60vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.reservations-table-row:nth-child(even) {
    background-color: #282c3450;
}

.reservations-table-row:nth-child(odd) {
    background-color: #282c3475;
}

.reservations-table-head-row {
    font-weight: bold;
    position: sticky;
    top: 0;
    background-color: var(--background-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.reservations-table-row {
    color: white;
}

.reservations-table-cell {
    padding: .5rem 1rem;
    cursor: default;
    vertical-align: middle;
}

.reservations-table-cell > span > i {
    cursor: pointer;
    padding-inline: .5rem;
}

.update-icon:hover {
    color: var(--accent-color);
}

.delete-icon:hover {
    color: var(--error-color);
}