.reservations-table-wrapper {
    display: block;
    height: 80vh;
    padding: 1rem;
    backdrop-filter: blur(1rem);
    background-color: var(--black-50);
    border-radius: 1rem;
}

.reservations-table-wrapper > p {
    padding: 2rem;
    font-size: .75rem;
    text-align: center;
}

.reservations-table-date-filters-wrapper {
    display: flex;
    justify-content: space-evenly;
    padding-block: 1rem;
}

.reservations-table-date-filters-wrapper > div > label {
    padding-inline: .5rem;
    font-family: 'Ubuntu Mono', monospace;
}

.reservations-table-date-filters-wrapper > div > input,
.reservations-table-name-filters-wrapper > div > input {
    accent-color: var(--accent-color);
}

.reservations-table-name-filter-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem;
}

.reservations-table {
    font-family: 'Ubuntu Mono', monospace;
    padding: 1.5rem;
    border-radius: .5rem;
    border-collapse: collapse;
    overflow: hidden;
}

.reservations-table > tbody {
    max-height: 67vh;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.reservations-table > thead {
    display: block;
    text-align: left;
}

.reservations-table td,th {
    min-width: 200px;
}

.reservations-table td:last-child,th:last-child {
    min-width: 75px;
}

.reservations-table-row:nth-child(even) {
    background-color: var(--black-25);
}

.reservations-table-row:nth-child(odd) {
    background-color: var(--black-50);
}

.reservations-table-head-row {
    font-weight: bold;
    background-color: var(--background-color);
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.reservations-table-row {
    color: white;
}

.reservations-table-cell {
    padding: .75rem 1rem;
    cursor: default;
    vertical-align: middle;
}

.reservations-table-cell > span > i {
    cursor: pointer;
    padding-inline: .5rem;
}

.update-icon:hover {
    color: var(--accent-color);
}

.delete-icon:hover {
    color: var(--error-color);
}