.reservation-detail-wrapper {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px var(--accent-color);
    background-color: var(--background-color);
    font-size: .75rem;
    height: max-content;
    width: fit-content;
    max-width: 400px;
    padding: 1rem;
    border-radius: .5rem;
    justify-content: left;
    align-items: flex-start;
    font-family: 'Ubuntu Mono', monospace;
    position: relative;
}

.delete-reservation {
    color: var(--error-color);
    cursor: pointer;
    font-size: .75rem;
    align-items: center;
    justify-content: center;
}

.delete-btn {
    width: 50%;
    position: absolute;
    bottom: 1rem;
    color: var(--error-color);
    transform: translateX(45%);
    cursor: pointer;
}

.delete-btn:hover {
    text-shadow: 0 0 .15rem var(--error-color);
}