.reservation-detail-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: var(--neutral-color);
    font-size: .75rem;
    height: max-content;
    width: max-content;
    padding: 2rem;
    border-radius: 1rem;
}

.delete-btn {
    width: max-content;
    color: var(--error-color);
    cursor: pointer;
    margin: 1rem auto 0;
    font-family: 'Ubuntu Mono', monospace;
}

.delete-btn:hover {
    text-shadow: 0 0 .15rem var(--error-color);
}