@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');
@import "widgets/Footer/Footer.module.css";
@import "widgets/ReservationDetail/ReservationDetail.module.css";
@import "widgets/ReservationsWrapper/ReservationsWrapper.module.css";
@import "widgets/ReservationsTable/ReservationsTable.module.css";
@import "widgets/CalendarWrapper/CalendarWrapper.module.css";
@import "widgets/MenuWrapper/MenuWrapper.module.css";
@import "widgets/Spinner/Spinner.module.css";
@import "widgets/ContentWrapper/ContentWrapper.module.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    border: unset;
}

body {
    --background-color: #1c1e24;
    --neutral-color: #282c34;
    --accent-color: #61dbfb;
    --error-color: #fb8161;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-color);
    background-image: url("/public/images/header-image.jpg");
    background-blend-mode: overlay;
    background-position: top;
    background-size: cover;
    color: var(--accent-color);
}

.App {
    background-color: transparent;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 1rem;
    align-items: center;
    font-family: 'Ubuntu Mono', monospace;
    backdrop-filter: blur(1.5rem);
    background-color: #1c1e2450;
}

.form-wrapper > p {
    font-size: 1rem;
    cursor: default;
    margin-top: 1.5rem;
}

.form-wrapper > p > a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.input-wrapper {
    display: grid;
    grid-template-columns: 140px 200px;
    width: min-content;
    align-items: center;
}

.input-wrapper:hover > .input-label {
    text-shadow: 0 0 .25rem var(--accent-color);
}

.input-label {
    color: var(--accent-color);
    align-items: center;
    font-size: 1rem;
    text-align: right;
}

.form-input {
    font-size: 1rem;
    background-color: #1c1e2450;
    color: white;
    outline: none;
    font-family: 'Ubuntu Mono', monospace;
    cursor: pointer;
    transition: all 250ms ease-in-out;
    transform-origin: left;
    padding: .5rem;
    border-radius: .25rem;
    margin-left: .25rem;
}

.form-input:disabled {
    cursor: not-allowed;
    opacity: .9;
}

.form-input:disabled::-webkit-datetime-edit-day-field,
.form-input:disabled::-webkit-datetime-edit-text,
.form-input:disabled::-webkit-datetime-edit-month-field,
.form-input:disabled::-webkit-datetime-edit-year-field,
.form-input:disabled::-webkit-datetime-edit-hour-field,
.form-input:disabled::-webkit-datetime-edit-minute-field {
    color: var(--accent-color) !important;
}

.form-input:focus {
    box-shadow: 0 0 .25rem var(--accent-color);
}

.validation {
    color: var(--error-color);
    cursor: default;
    grid-column: span 2;
    margin-top: .25rem;
}

.submit-btn {
    background: transparent;
    border: 2px solid var(--accent-color);
    color: var(--accent-color);
    padding: 1rem 1.5rem;
    width: fit-content;
    justify-self: center;
    border-radius: .5rem;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
    font-family: 'Ubuntu Mono', monospace;
    transition: all 250ms;
}

.submit-btn:hover {
    color: white;
    border-color: white;
}

.submit-btn:disabled {
    color: var(--background-color);
}

.submit-btn:disabled:hover {
    cursor: not-allowed;
    text-shadow: none;
}

.error-message {
    width: 100%;
    max-width: 300px;
    height: 3rem;
    line-height: 1rem;
    font-size: .8rem;
    color: var(--error-color);
    max-lines: 3;
    overflow: hidden;
}

.MuiBackdrop-root {
    backdrop-filter: blur(.25rem);
}

.modal-content {
    padding: 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    max-height: 80%;
    max-width: 80%;
    border-radius: 1rem;
    overflow: scroll;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.close-btn {
    position: absolute;
    top: 1rem;
    right: 3.75rem;
    color: var(--error-color);
    height: 1rem;
    width: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    font-family: 'Ubuntu Mono', monospace;
}

.close-btn i {
    transition: transform 250ms ease-in-out;
}

.close-btn:hover i {
    transform: scale(1.25);
    text-shadow: 0 0 .25rem var(--error-color);
}

#login-form,
#register-form {
    padding: 3rem;
}

#create-form,
#update-form {
    padding: 1.5rem;
}

#login-form > .input-wrapper {
    grid-template-columns: auto 200px;
}

#register-form > .input-wrapper {
    grid-template-columns: 140px 200px;
}

#create-form > .input-wrapper {
    grid-template-columns: 120px 200px;
}

#update-form > .input-wrapper {
    grid-template-columns: 110px 200px;
}
